<table class="table" border="1">
    <tr >
        <th>Id</th>
        <th>Name</th>
        <th>Designation</th>
        <th>salary</th>
        <th>p no</th>
        <th>email</th>
        <th>website</th>
        <th>yoe</th>
    </tr>
    <tr>
        <td>112</td>
        <td>abx</td>
        <td>SE</td>
        <td>123443</td>
        <td>29999999</td>
        <td>asd.com</td>
        <td>sdc.com</td>
        <td>2</td>
    </tr>
    <tr>
        <td>110</td>
        <td>sde</td>
        <td>se</td>
        <td>12390</td>
        <td>9873635</td>
        <td></td>
        <td>sdc.com</td>
        <td>1</td>
    </tr>
    <tr>
        <td>9800</td>
        <td>jas</td>
        <td>saj</td>
        <td>8790</td>
        <td></td>
        <td>hdg.com</td>
        <td>sdc</td>
        <td>2</td>
    </tr>
</table>

